# Data collection

In [31]:
import pandas as pd
import sqlite3
# Create a SQL connection to our SQLite database
con = sqlite3.connect("Assignment2024.sqlite")
cur = con.cursor()

In [32]:
# query = """ select * from train """
query = """ select * from test """
cur.execute(query)
data = cur.fetchall()
df = pd.DataFrame(data)
df.head(5)
# attribute 31 is the class label which we need to predict

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,5000,5.044612,0.047192,-14.515989,0.319054,-0.699865,-21.124734,-225.270970,-19.876124,1.497332,...,42.033336,-15.006573,1,SCXP,68.924775,-496,-4.857052,-34.576942,7.612997,None
1,5001,10.414225,0.925420,8.303170,5.834652,-1.509261,-9.116291,-41.988802,2.849018,-1.694456,...,-47.567033,43.301643,0,WDCK,-42.959845,-497,1.521152,-22.644998,0.503049,None
2,5002,-32.739010,2.798970,-8.513003,3.790751,-1.323075,3.516482,14.081416,3.708836,-3.737995,...,-104.933587,-84.931861,0,WDCK,-181.931153,-812,-1.766613,-62.649064,-15.453559,None
3,5003,-5.069695,-0.454917,-9.447911,5.657400,-2.554566,40.380708,-76.240047,-7.154376,1.233867,...,34.637304,47.315606,0,UKBF,31.680505,-393,-1.019960,-52.758331,-32.092616,None
4,5004,8.112611,3.815232,-17.485769,4.070687,-3.989204,-13.275574,-60.056923,1.257805,2.609017,...,73.240751,-65.030175,0,WDCK,-40.582090,388,5.208271,-227.397254,-6.118741,None

# Handling missing values

In [33]:
# function to find which columns have missing data
def missing(df):
  """
  For each attribute/column in the dataframe `df`, count the number of missing entries and return percentage.
  """
  missing_dict = dict()
  total = df.shape[0] # shape[0] is the number of rows
  for attribute in df.columns:
    missing = df[attribute].isna().sum() # count the number of Null/nan/na values
    frac = missing/total * 100 # as a percentage
    missing_dict[attribute] = frac
  return missing_dict

In [34]:
m_dict = missing(df)
# m_dict 
# result shows there are no missing data as percentage is 0
# expect for 31 which is completely null.

dropping non-numeric columns from dataset

In [35]:
# choose all the numeric type attributes
non_numeric_attributes = df.select_dtypes(exclude='number').columns.tolist()
non_numeric_attributes

[10, 16, 25, 31]

In [36]:
# we wont drop column 31 as it is the one whose value we need to predict.
# but we will drop column 28 which we also have dropped in train dataset.
# dropping respective columns
df.drop(columns=[10,16,25,28], inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,26,27,29,30,31
0,5000,5.044612,0.047192,-14.515989,0.319054,-0.699865,-21.124734,-225.270970,-19.876124,1.497332,...,4.303901,-9.405781,42.033336,-15.006573,1,68.924775,-496,-34.576942,7.612997,None
1,5001,10.414225,0.925420,8.303170,5.834652,-1.509261,-9.116291,-41.988802,2.849018,-1.694456,...,8.885082,-1.753166,-47.567033,43.301643,0,-42.959845,-497,-22.644998,0.503049,None
2,5002,-32.739010,2.798970,-8.513003,3.790751,-1.323075,3.516482,14.081416,3.708836,-3.737995,...,-27.931871,0.587944,-104.933587,-84.931861,0,-181.931153,-812,-62.649064,-15.453559,None
3,5003,-5.069695,-0.454917,-9.447911,5.657400,-2.554566,40.380708,-76.240047,-7.154376,1.233867,...,-4.325301,-3.183265,34.637304,47.315606,0,31.680505,-393,-52.758331,-32.092616,None
4,5004,8.112611,3.815232,-17.485769,4.070687,-3.989204,-13.275574,-60.056923,1.257805,2.609017,...,6.921419,-2.507568,73.240751,-65.030175,0,-40.582090,388,-227.397254,-6.118741,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,5495,25.461764,1.153995,-24.773991,4.416635,1.646330,-9.758814,14.791286,6.873385,0.242814,...,21.723158,0.617583,6.816328,-65.101910,1,-20.218206,-668,77.532369,20.852511,None
496,5496,-14.027918,5.691468,-6.581451,6.363964,2.009121,19.942513,26.095728,-1.347529,-3.838303,...,-11.968168,1.089580,-107.749459,-91.859449,1,8.270847,-601,-82.795034,25.335828,None
497,5497,-17.878723,-2.166453,-1.419890,2.891044,-2.968189,-3.189654,-91.001806,-0.134309,-0.772884,...,-15.253552,-3.799616,-21.696523,10.737822,1,-54.145160,-70,-4.935305,13.442693,None
498,5498,30.484420,-2.135812,-12.476002,3.350677,-0.477822,-37.184603,19.436611,2.995044,-0.474061,...,26.008327,0.811540,-13.307905,85.111681,1,-5.501523,103,-95.347558,42.067484,None
499,5499,5.317212,-1.399324,-1.220336,3.688067,0.247082,-43.542976,-128.133504,-1.601228,1.468221,...,4.536474,-5.349982,41.216147,36.991486,0,-17.764656,-654,-153.434027,26.180301,None

# saving preprocessed data

In [37]:
df.to_csv("testAssignment.csv",index=False)